PORT=3000
NODE_ENV=development
DATABASE_URL=DATABASE_URL=postgresql://username:password@host/dbname?sslmode=require
JWT_SECRET=
CLIENT_URL=http://localhost:5173
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3000/api/auth/google/callback